/*UNIVERSAL CODE*/
* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/*HEADER CODE*/
.banner {
    position: relative;
    text-align: center;
    background-image: url(resources/celtic-knot.jpg);
    background-size: cover;
    background-position: center;
    padding: 1.875rem 0;
    height: 9.375rem;
}

.banner h1 {
    position: relative;
    color: rgb(206, 214, 135);
    font-family: "Irish Grover", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    margin: 0;
    text-shadow: 0.125rem 0.125rem 0.125rem rgb(34, 88, 43);
}

.banner h1::before {
    content: "\2618";
    font-size: 5rem;
}

.banner h1::after {
    content: "\2618";
    font-size: 5rem;
}

/*INFO CODE*/
.info {
    background-color: rgb(61, 151, 76);
    font-size: 1rem;
    text-align: center;
    padding: 0.3125rem;
    margin: 0;
    border-top: 0.125rem solid rgb(223, 235, 117);
}

.info p {
    color: rgb(223, 235, 117);
    text-shadow: 0.0625rem 0.0625rem rgb(8, 8, 4);
    font-weight: 800;
    padding: 0 0.9375rem 0 0;
    text-decoration: none;
    margin: 0;
    display: inline;
}

/*NAV CODE*/
.nav {
    background-color: rgb(34, 88, 43);
    color: rgb(34, 122, 44);
    font-size: 1.25rem;
    text-align: center;
    padding: 0.3125rem;
    margin: 0;
    border-top: 0.125rem solid rgb(223, 235, 117);
}

.nav a {
    color: rgb(223, 235, 117);
    text-shadow: 0.0625rem 0.0625rem rgb(8, 8, 4);
    font-weight: 800;
    padding: 0 0.9375rem 0 0;
    text-decoration: none;
    margin: 0;
}

/*INTRO CODE*/
#intro {
    background-color: rgb(223, 235, 117);
    margin: 0;
    text-align: center;
    padding: 1.25rem auto;
    width: 100%;
}

#intro h2 {
    margin-top: 0;
    font-family: "Irish Grover", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.25rem;
    color: rgb(34, 122, 44);
    text-shadow: 0.0625rem 0.0625rem rgb(8, 8, 7);
    padding-top: 1.25rem;
}

#intro p {
    font-family: "Irish Grover", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.375rem;
    color: rgb(34, 122, 44);
    text-shadow: 0.0625rem 0.0625rem rgb(5, 5, 5);
}

#intro p::before {
    content: "\2618";
    font-size: 1.375rem;
}

#intro p::after {
    content: "\2618";
    font-size: 1.375rem;
}

.intro-img {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.25rem;
    justify-content: center;
    max-width: 100%;
}

.intro-img img {
    max-width: 30%;
    margin: 0 0.625rem 1.25rem;
}

/*DRINKS CODE*/
#drinks {
    background-color: rgb(223, 235, 117);
    margin: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
}

#drinks span {
    margin-top: 0;
    font-family: "Irish Grover", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: rgb(34, 122, 44);
    text-shadow: 0.0625rem 0.0625rem rgb(8, 8, 7);
}

.drinks-img {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.25rem;
    justify-content: center;
    max-width: 100%;
}

.drinks-img img {
    max-width: 30%;
    margin: 0 0.625rem 1.25rem;
}

/*FOOD CODE*/
#food {
    background-color: rgb(223, 235, 117);
    margin: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
}

#food span {
    margin-top: 0;
    font-family: "Irish Grover", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: rgb(34, 122, 44);
    text-shadow: 0.0625rem 0.0625rem rgb(8, 8, 7);
}

.food-img {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.25rem;
    justify-content: center;
    max-width: 100%;
}

.food-img img {
    max-width: 30%;
    margin: 0 0.625rem 1.25rem;
}

/*GAMES CODE*/
#features {
    background-color: rgb(223, 235, 117);
    margin: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
}

#features span {
    margin-top: 0;
    font-family: "Irish Grover", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: rgb(34, 122, 44);
    text-shadow: 0.0625rem 0.0625rem rgb(8, 8, 7);
}

.game-img {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.25rem;
    justify-content: center;
    max-width: 100%;
}

.game-img img {
    max-width: 30%;
    margin: 0 0.625rem 1.25rem;
}

/*FOOTER CODE*/
#footer {
    background-color: rgb(34, 88, 43);
    color: rgb(34, 122, 44);
    font-size: 1rem;
    margin: 0;
    border-top: 0.125rem solid rgb(223, 235, 117);
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.footer {
    color: rgb(223, 235, 117);
    text-shadow: 0.0625rem 0.0625rem rgb(8, 8, 4);
    font-weight: 800;
    font-style: italic;
    padding-left: 0.625rem;
    width: 33%;
}

#home a{
    color: rgb(223, 235, 117);
    text-shadow: 0.0625rem 0.0625rem rgb(8, 8, 4);
    font-weight: 800; 
    width: 33%;
}

.span {
    color: rgb(223, 235, 117);
    text-shadow: 0.0625rem 0.0625rem rgb(8, 8, 4);
    font-weight: 800;
    text-align: right;
    font-style: italic;
    padding-right: 0.625rem;
    width: 33%;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 768px) {
    #footer {
        font-size: 0.5rem;
        border-top: 0.075rem solid rgb(223, 235, 117);
        padding: 0.4375rem 0;
    }
           
    #home a{
        text-shadow: 0.0375rem 0.0375rem rgb(8, 8, 4);
    }
        
    } 

@media only screen and (max-width: 425px) {
    .banner {
        padding: 0.9375rem 0;
        height: 4.6875rem;
    }

    .banner h1 {
        font-size: 3rem;
    }

    .banner h1::before {
        content: "\2618";
        font-size: 3rem;
    }
    
    .banner h1::after {
        content: "\2618";
        font-size: 3rem;
    }

    .info {
        font-size: 0.6rem;
        padding: 0.1875rem;
        border-top: 0.075rem solid rgb(223, 235, 117);
    }
    
    .info p {
        text-shadow: 0.0375rem 0.0375rem rgb(8, 8, 4);
        padding: 0 0.5625rem 0 0;
    }
    
    .nav {
        font-size: 0.75rem;
        padding: 0.1875rem;
        border-top: 0.075rem solid rgb(223, 235, 117);
    }
    
    .nav a {
        text-shadow: 0.0375rem 0.0375rem rgb(8, 8, 4);
        padding: 0 0.5625rem 0 0;
    }
    
    #intro {
        padding: 0.75rem auto;
    }

    #intro h2 {
        font-size: 1.35rem;
        text-shadow: 0.0375rem 0.0375rem rgb(8, 8, 7);
        padding-top: 0.75rem;
    }
    
    #intro p {
        font-size: 0.825rem;
        text-shadow: 0.0375rem 0.0375rem rgb(5, 5, 5);
    }
    
    #intro p::before {
        content: "\2618";
        font-size: 0.825rem;
    }
    
    #intro p::after {
        content: "\2618";
        font-size: 0.825rem;
    }

    .intro-img {
        margin-top: 0.75rem;
    }
    
    .intro-img img {
        max-width: 60%;
        margin: 0 0.375rem 0.75rem;
    }
    
    #drinks span {
        font-size: 1.2rem;
        text-shadow: 0.0375rem 0.0375rem rgb(8, 8, 7);
    }
    
    .drinks-img {
        margin-top: 0.25rem;
    }
    
    .drinks-img img {
        max-width: 60%;
        margin: 0 0.375rem 0.75rem;
    }
 
    #food span {
        font-size: 1.2rem;
        text-shadow: 0.0375rem 0.0375rem rgb(8, 8, 7);
    }
   
    .food-img {
        margin-top: 0.75rem;
    }

    .food-img img {
        max-width: 60%;
        margin: 0 0.375rem 0.75rem;
    }  
     
    #features span {
        font-size: 1.2rem;
        text-shadow: 0.0375rem 0.0375rem rgb(8, 8, 7);
    }
   
    .game-img {
        margin-top: 0.75rem;
    }
     
    .game-img img {
        max-width: 60%;
        margin: 0 0.375rem 0.75rem;
    }
   
    #footer {
        font-size: 0.5rem;
        border-top: 0.075rem solid rgb(223, 235, 117);
    }
 
    .footer {
        text-shadow: 0.0375rem 0.0375rem rgb(8, 8, 4);
        padding-left: 0.375rem;
        width: 40%;
    }
       
    #home a{
        text-shadow: 0.0375rem 0.0375rem rgb(8, 8, 4);
    }
    
    .span {
        text-shadow: 0.0375rem 0.0375rem rgb(8, 8, 4);
        padding-right: 0.375rem;
        width: 20%;
    }
}

@media only screen and (max-width: 375px) {
    .banner {
        padding: 0.5625rem 0;
        height: 2.8125rem;
    }

    .banner h1 {
        font-size: 1.8rem;
    }

    .banner h1::before {
        content: "\2618";
        font-size: 1.8rem;
    }
    
    .banner h1::after {
        content: "\2618";
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 320px) {
    #footer {
        font-size: 0.75rem;
        border-top: 0.075rem solid rgb(223, 235, 117);
    }
 
    .footer {
        text-shadow: 0.0375rem 0.0375rem rgb(8, 8, 4);
        padding-left: 0.375rem;
        width: 40%;
    }
       
    #home a{
        text-shadow: 0.0375rem 0.0375rem rgb(8, 8, 4);
        font-size: 1rem;
    }
    
    .span {
        text-shadow: 0.0375rem 0.0375rem rgb(8, 8, 4);
        padding-right: 0.375rem;
        width: 20%;
    }
}

